


            <!-- CARRUSEL TIPO -->
           
            <br></br>
            <br></br>
            <br></br>
            <br></br>
           



        <div class="carousel__innovacion"></div>

        <div class="carousel">
            <div class="carousel__container">
                <!-- <button class="carousel__prev"> -->
                    <i class='bx bx-chevron-left'></i>
                </button>

                <div class="carousel__list" style="text-align: center;"></div>

                <!-- <button class="carousel__next"> -->
                    <i class='bx bx-chevron-right'></i>
                </button>
            </div>
            <div class="carousel__indicator"></div>
        </div>

            <!-- CATEGORIES -->

        <section id="port-sec">
            <div class="container">
                <div class="row pad-row">
                    <div class="col-md-12 col-sm-12">
                        <ul class="portfolio-items2 col-3">
                            <h2 class="cat">Categorias</h2>
                            <div id="containerCategories"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- OPERACION -->
    <section id="port-sec">
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-13 col-sm-13">
                    <!-- <ul class="portfolio-items2 col-3"> -->
                        <h2 class="cat">Que tipo de operación</h2>
                        <div id="containerOperacion"></div>
                    <!-- </ul> -->
                </div>
            </div>
        </div>
    </section>

        <!-- CITY -->
    <section id="port-sec">
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-13 col-sm-13">
                    <ul class="portfolio-items2 col-3">
                        <h2 class="cat">Un lugar para ti...</h2>
                        <div id="containerCiudad"></div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
        
    
        <!-- RECOMMENDATONS -->
    <section id="port-sec">
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-13 col-sm-13">
                    <ul class="portfolio-items2 col-3">
                        <h2 class="cat">Quizás te interese</h2>
                        <div id="containerRecomendaciones"></div>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="port-sec">
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-13 col-sm-13">
                    <ul class="portfolio-items2 col-3">
                        <h2 class="cat">Más visitadas</h2>
                        <div id="containerMasVisitadas"></div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
        
