<br></br>
<br></br>
<br></br>
<br></br>



<div class="profile-container">
    <div class="user-section">
        <h2>Datos Usuario</h2>
        <div id="user-container">
        </div>
    </div>
    <div class="likes-section">
        <h2>Viviendas que te gustan</h2>
        <br></br>

        <div id="likes-container">
        </div>
    </div>
    <div class="facturas-section">
        <h2>Facturas</h2>
        <div id="factura-container">
        </div>
    </div>
</div>

<br></br>
<br></br>
<br></br>
<br></br>
    

