<br></br>
<br></br>
<br></br>
<br></br>



    <h1>Carrito de compras</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div>
        <button id="Add">Añadir vivienda</button>
        <button id="Remove">Eliminar vivienda</button>
        <button id="Clear">Borrar pedido</button>
        <button id="Buy">Comprar</button>
    </div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    

