
	<section id="footer-sec">

		<div class="container">
			<div class="row  pad-bottom">
				<br></br>
				<div class="col-md-4">
					<h4> <strong>ACERCA DE LA EMPRESA</strong> </h4>
					<p>
					Somos más que una empresa de bienes raíces;<br> Somos socios comprometidos en la realización de sueños y la construcción de futuros. <br>
					Con una trayectoria sólida, servicios excepcionales y una visión orientada al cliente, nuestra compañía se erige como un referente confiable en el mundo inmobiliario, donde cada propiedad cuenta una historia única y cada cliente es parte integral de nuestro éxito continuo.
					</p>
					<a href="#">read more</a>
				</div>
				<div class="col-md-4">
					<h4> <strong>SOCIAL LINKS</strong> </h4>
					<p>
						<a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
						<a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
						<a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
						<a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
					</p>
				</div>
				<div class="col-md-4">
					<h4> <strong>NOS UBICAMOS EN</strong> </h4>
					<p>
						46870 , Daniel Gil 123, <br />
						Ontinyent, Valéncia <br />
						ESP- 32415234
					</p>
					<a href="#" class="btn btn-primary">Contacta</a>
				</div>
			</div>
		</div>
		<br></br>

		&nbsp;&nbsp;<a href="">Numero de contacto</a>&nbsp;&nbsp;·&nbsp;&nbsp;
		<br></br>

		&nbsp;&nbsp;<a href="">Correo electronico</a>&nbsp;&nbsp;·&nbsp;&nbsp;
		<br></br>

		&nbsp;&nbsp;<a href="">Direccion</a>&nbsp;&nbsp;
		<br></br>

		<br></br>
</div>