<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Porfile</title>


	<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->

	<!-- BOOTSTRAP CORE STYLE CSS -->
	<link href="<?php echo SITE_PATH ?>view/css/bootstrap.css" rel="stylesheet" />
	<!-- FONTAWESOME STYLE CSS -->
	<link href="<?php echo SITE_PATH ?>view/css/font-awesome.min.css" rel="stylesheet" />
	<!-- CUSTOM STYLE CSS -->
	<link href="<?php echo SITE_PATH ?>view/css/style.css" rel="stylesheet" />
	<link href="<?php echo SITE_PATH ?>view/css/stylecart.css" rel="stylesheet" />
	<link href="<?php echo SITE_PATH ?>view/css/styleprofile.css" rel="stylesheet" />


	<link rel="stylesheet" href="<?php echo SITE_PATH ?>view/plugins/Glider/glider.css">
	<!-- GOOGLE FONT -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


	<link href="<?php echo SITE_PATH ?>view/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="<?php echo SITE_PATH ?>view/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="<?php echo SITE_PATH ?>view/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
	<!--<script src="../../module/viviendas/validate_vivienda.js"></script>-->

	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />


	<!-- DROPZONE -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" integrity="sha512-jU/7UFiaW5UBGODEopEqnbIAHOI8fO6T99m7Tsmqs2gkdujByJfkCbbfPSN4Wlqlb9TGnsuC0YgUgWkRBK7B9A==" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js" integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ==" crossorigin="anonymous"></script>
	<!-- DROPZONE -->


	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	
	<script src="<?php echo SITE_PATH ?>view/js/main.js"></script>
	<script src="<?php echo SITE_PATH ?>view/js/activity_user.js"></script>
	<script src="<?php echo SITE_PATH ?>module/search/view/js/controller_search.js"></script>
	<script src="<?php echo SITE_PATH ?>module/cart/view/js/controller_cart.js"></script>
	<script src="<?php echo SITE_PATH ?>module/profile/view/js/controller_profile.js"></script>
	<script src="<?php echo SITE_PATH ?>view/js/credentials.js"></script>

	<script src="view/js/promises.js"></script>

	<!-- <script src="view/plugins/jquery-1.10.2.js"></script> -->
	<!-- FONT AWESOME -->
	<script src="https://kit.fontawesome.com/596716e4fd.js" crossorigin="anonymous"></script>
	<!-- BOOTSTRAP SCRIPTS  -->
	<script src="<?php echo SITE_PATH ?>view/plugins/bootstrap.js"></script>
	<!-- CUSTOM SCRIPTS  -->
	<script src="<?php echo SITE_PATH ?>view/js/custom.js"></script>
	<script src="<?php echo SITE_PATH ?>view/plugins/Glider/glider.js"></script>
	
	
</head>

<body>