<html>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
   <!-- filtros-viv -->
    <div class="filters_shop" id="filters_shop"> </div>       
    <!-- list-viv -->
    <div class="container_vivs">
        <div class="shop_and_map_container">

            <div class="container_shop" id="content_shop_viviendas"> 
                <div class="date_img_list" id="content_shop_viviendas"> </div>       
            </div>
            <!-- mapa -->
            <div id="map"></div>
            <!-- details-viv -->

            <div id="details-shop">
                <div class="date_img" id="container-date-img"> </div>
                <div class="date_vivienda" id="container-date-img"> </div>
            </div>
        </div>
    
    </div>

    




    <div id="title_content" class="title_content"></div>
    <div id="more_viviendas_button" class="more_viviendas_button"></div>




    <div id="pagination" class="pagination-container">
        <!-- botones paginacion -->
    </div>
</body>
</html>